div.flipNumbers {
  width: 32px;
  height: 32px;
  background-position: center;
  background-image: url(Images/Numbers/numbers.png);
  background-repeat: no-repeat;
}
div.numbers {
  width: 100%;
  height: 100%;
  display: none;
  margin-right: 2px;
  padding-right: 4px;
  text-align: center;
  background: white;
  border: solid 1px red;
}


div.flipEnglishLettersLower {
  width: 32px;
  height: 32px;
  background-position: center;
  background-image: url(Images/EnglishLetters/EnglishLettersLower/englishAlphabetLower.png);
  background-repeat: no-repeat;
}
div.englishLettersLower {
  width: 12px;
  height: 100%;
  display: none;
  margin-right: 2px;
  padding-right: 10px;
  float: left;
  text-align: center;
  background: white;
  border: solid 1px red;
}
div.englishLettersLower2 {
  width: 12px;
  height: 100%;
  display: none;
  margin-right: 2px;
  padding-right: 10px;
  float: left;
  text-align: center;
  background: white;
  border: solid 1px red;
}


div.flipEnglishLettersUpper {
  width: 32px;
  height: 32px;
  background-position: center;
  background-image: url(Images/EnglishLetters/EnglishLettersUpper/englishAlphabetUpper.png);
  background-repeat: no-repeat;
}
div.englishLettersUpper {
  width: 12px;
  height: 100%;
  display: none;
  margin-right: 2px;
  padding-right: 10px;
  float: left;
  text-align: center;
  background: white;
  border: solid 1px red;
}
div.englishLettersUpper2 {
  width: 12px;
  height: 100%;
  display: none;
  margin-right: 2px;
  padding-right: 10px;
  float: left;
  text-align: center;
  background: white;
  border: solid 1px red;
}


div.flipGreeceLettersLower {
  width: 32px;
  height: 32px;
  background-position: center top;
  background-image: url(Images/GreeceLetters/GreeceLettersLower/greeceAlphabetLower.png);
  background-repeat: no-repeat;
}
div.greeceLettersLower {
  width: 12px;
  height: 100%;
  display: none;
  margin-right: 2px;
  padding-right: 10px;
  float: left;
  text-align: center;
  background: white;
  border: solid 1px red;
}
div.greeceLettersLower2 {
  width: 12px;
  height: 100%;
  display: none;
  margin-right: 2px;
  padding-right: 10px;
  float: left;
  text-align: center;
  background: white;
  border: solid 1px red;
}


div.flipGreeceLettersUpper {
  width: 32px;
  height: 32px;
  background-position: center;
  background-image: url(Images/GreeceLetters/GreeceLettersUpper/greeceAlphabetUpper.png);
  background-repeat: no-repeat;
}
div.greeceLettersUpper {
  width: 12px;
  height: 100%;
  display: none;
  margin-right: 2px;
  padding-right: 10px;
  float: left;
  text-align: center;
  background: white;
  border: solid 1px red;
}
div.greeceLettersUpper2 {
  width: 12px;
  height: 100%;
  display: none;
  margin-right: 2px;
  padding-right: 10px;
  float: left;
  text-align: center;
  background: white;
  border: solid 1px red;
}


div.flipPrimalOperations {
  width: 32px;
  height: 32px;
  background-position: center;
  background-image: url(Images/PrimalOperations/primalOperations.png);
  background-repeat: no-repeat;
}
div.primalOperations {
  width: 25px;
  height: 100%;
  display: none;
  margin-right: 2px;
  text-align: center;
  background: white;
  border: solid 1px red;
}


div.flipDependency {
  width:32px;
  height: 32px;
  background-position: center;
  background-image: url(Images/Dependency/dependency.png);
  background-repeat: no-repeat;
}
div.dependency {
  width: 25px;
  height: 100%;
  display: none;
  margin-right: 2px;
  text-align: center;
  background: white;
  border: solid 1px red;
}


div.flipPars {
  width: 32px;
  height: 32px;
  background-position: center;
  background-image: url(Images/Pars/pars.png);
  background-repeat: no-repeat;
}
div.pars {
  width: 25px;
  height: 100%;
  display: none;
  margin-right: 2px;
  text-align: center;
  background: white;
  border: solid 1px red;
}


div.flipWrite {
  width: 32px;
  height: 32px;
  background-position: center;
  background-image: url(Images/Write/write.png);
  background-repeat: no-repeat;
}
div.write {
  width: 25px;
  height: 100%;
  display: none;
  margin-right: 2px;
  text-align: center;
  background: white;
  border: solid 1px red;
}


div.flipSize {
  width: 32px;
  height: 32px;
  background-position: center;
  background-image: url(Images/Size/size.png);
  background-repeat: no-repeat;
}
div.size {
  width: 100%;
  float: left;
  height: 50px;
  display: none;
  text-align: center;
  background: white;
  border: solid 2px red;
}


div.flipShape {
  width: 32px;
  height: 32px;
  background-position: center;
  background-image: url(Images/Shape/shape.png);
  background-repeat: no-repeat;
}
div.shape {
  width: 25px;
  height: 100%;
  display: none;
  margin-right: 2px;
  text-align: center;
  background: white;
  border: solid 1px red;
}


div.flipSets {
  width: 32px;
  height: 32px;
  background-position: center;
  background-image: url(Images/Sets/sets.png);
  background-repeat: no-repeat;
}
div.sets {
  width: 25px;
  height: 100%;
  display: none;
  margin-right: 2px;
  text-align: center;
  background: white;
  border: solid 1px red;
}


div.flipSymbols {
  width: 32px;
  height: 32px;
  background-position: center;
  background-image: url(Images/Symbols/symbols.png);
  background-repeat: no-repeat;
}
div.symbols {
  width: 12px;
  height: 100%;
  display: none;
  margin-right: 2px;
  padding-right: 10px;
  float: left;
  text-align: center;
  background: white;
  border: solid 1px red;
}
div.symbols2 {
  width: 12px;
  height: 100%;
  display: none;
  margin-right: 2px;
  padding-right: 10px;
  float: left;
  text-align: center;
  background: white;
  border: solid 1px red;
}